/*-----------------------------------GLOBAL&THEME STYLES-----------------------------------*/
@import url(fonts.css?family=Noto+Sans:400,700,400italic);
* {
    box-sizing: border-box;
    color: white;
    text-decoration: none; 
}
html {
    font-family: 'Noto Sans',sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background: #f8f8f8;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #102638; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.item-title-red, .item-title-red i {
    color: #e9212d;
    font-size: 18px;
    font-family: PTBoldItalic;
}

/*-----------------------------------END GLOBAL&THEME STYLES-----------------------------------*/
/*-----------------------------------FLEXBOX STYLES-----------------------------------*/
.flex-container {
    display: flex;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.align-stretch {
    align-items: stretch;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-space-between {
    justify-content: space-between;
}
.direction-row {
    flex-direction: row;
}
.direction-column {
    flex-direction: column;
}
.flex-item {
}
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}
.text-justify {
    text-align: justify;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-2 {
    flex-grow: 2;
}
.flex-grow-3 {
    flex-grow: 3;
}
/*-----------------------------------END FLEXBOX STYLES-----------------------------------*/
/*-----------------------------------GENERAL STYLES-----------------------------------*/
/*  COLORS  */
.color-red {
    color: #e9212d;
}
/*  OPACITY  */
.opacity-4 {
    opacity: .4;
}
.opacity-6 {
    opacity: .6;
}
/*-----------------------------------END GENERAL STYLES-----------------------------------*/
/*-----------------------------------DEV STYLES-----------------------------------*/
.dev-br {
    border: 1px solid red;
}
.dev-bb {
    border: 1px solid blue;
}
.dev-bk-red {
    background: red;
}
.a-expand {
    display: flex;
    height: 100%;
    width: 100%;
}
/*-----------------------------------END DEV STYLES-----------------------------------*/
/*-----------------------------------HEADER STYLES-----------------------------------*/
.header {
    background: #f8f8f8;
    text-transform: uppercase;
}
.header a, .header p, .header span {
    color: #102638;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}
.header, footer, article, nav, aside {
    padding: 1em;
}
.header-phone {
    color: #102638;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-left: 0px !important;
}
.header-phone a {
    padding-right: 0px !important;
}
.header-phone span {
    padding-left: 5px !important;
}
/*-----------------------------------END HEADER STYLES-----------------------------------*/
/*-----------------------------------FOOTER STYLES-----------------------------------*/
footer {
    background: #102638;
    height: 539px;
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
}
footer ul {
    list-style-type: none !important;
}
footer li {
    margin: 0px 0 12px 0;
    color: #4d687f;
}
footer div  {
    width: 100%;
}
.footer-logo {
    padding-top: 30px;
    padding-left: 10px;
    width: 300px;
}
.footer-raise-your-voice {
    width: 180px;
}
.footer-raise-your-voice img {
    height: 40px;
}
/*-----------------------------------END FOOTER STYLES-----------------------------------*/
/*-----------------------------------INDEX.HTML STYLES-----------------------------------*/
.navigation-menu {
    height: 100%;
    max-height: 600px;
    overflow: hidden;
}
.i-want-start-my-business {
    background-image: linear-gradient(#00000026, #00000026),url("../images/pic-btn-negocio.jpg" );
    flex: 0 0 25vw;
}
.i-am-fryer {
    background-image: linear-gradient(#00000026, #00000026),url("../images/pic-btn-freidor.jpg" );
    flex: 0 0 25vw;
}
.i-am-wholesaler {
    background-image: linear-gradient(#00000026, #00000026),url("../images/pic-btn-mayorista.jpg" );
    flex: 0 0 25vw;
}
.i-am-manufacturer {
    background-image: linear-gradient(#00000026, #00000026),url("../images/pic-btn-industrial.jpg" );
    flex: 0 0 25vw;
}
.index-menu-option-title a {

}
.index-menu-option-title div { 
    margin-bottom: 10px;
}
.index-menu-option-title span {
    background: #e9212d;
    padding: 3px;
    opacity: .8;
    border-radius: 5px;
    font-weight: 700;
}
.our-company-container {
    background-image: linear-gradient(#00000026, #00000026),url("../images/mb-home.jpg");
    padding: 70px 0;
    min-height: 600px;
}
.our-company div {
    border: 1px solid red;
}
.our-company-item {
    padding: 20px;
    line-height: 30px;
}
.our-company-title {
    text-align: center;
    font-family: PTItalic;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
}
.our-company-text {
    max-width: 600px;
    text-align: justify;
}
/*-----------------------------------END INDEX.HTML STYLES-----------------------------------*/
/*-----------------------------------RECETARIO.HTML STYLES-----------------------------------*/
.recipe-book-title {
    width: 550px;
    color: #102638;
    text-align: center;
    font-size: 24px;
    font-family: PTItalic;
    margin-bottom: 40px;
    line-height: 160%;
}
.recipe-book-container {
    height: 100%;

}
.recipe-book-title i {
    color: #102638;
}
.recipe-book-column {
    width: 100%;
    padding: 18px;
}
.recipe-book-item div {
    color: #102638;
}
.recipe-book-item-image {
    width: 100%;
    height: 100%;
    max-height: 400px;
    border-bottom: 10px solid #e9212d;
}
.recipe-book-sinaloense {
    background-image: url("../images/recetario/sinaloense/thumb.png" );
}
/*-----------------------------------END RECETARIO.HTML STYLES-----------------------------------*/
