/*-----------------------------------GLOBAL&THEME STYLES-----------------------------------*/
@import url(fonts.css?family=Noto+Sans:400,700,400italic);
* {
    box-sizing: border-box;
    text-decoration: none; 
}
html {
    font-family: 'Noto Sans',sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background: #f8f8f8;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #102638; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.item-title-red, .item-title-red i , .item-title-red h2 {
    color: #e9212d;
    font-size: 24px;
    padding: 0;
    font-family: PTBoldItalic;
}
.item-content, .item-content p, .item-content i, .item-content h1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #102638;
}

.container {
    width: 1170px;
    margin: auto;
}

.main-option-title {
    flex: 0 0 25vw;
}

.main-option-title span {
    padding: 3px 5px;
    font-weight: 700;
    font-size: 21px;
    font-family: PTBoldItalic;
}

.wheat-color {
    background: rgba(206,33,58, 1);
}

.potato-color {
    background: rgba(38,63,84, 1);
}

.corn-color {
    background-color: rgba(82,135,70, 1);
}

.suncereal-color {
    background-color: rgba(62,64,64, 1);
}

.main-width {
    width: 1170px;
    margin: auto;
}
.title i,.title span,.title h1 {
    color: #102638;
    line-height: 1.1;    
    font-family: PTItalic;
    font-size: 36px;
}
.bcrumbs {
    padding: 20px;
    background: #e5e5e5;
    font-weight: 700;
    font-size: 14px;
}

.breadcrumb {
    padding: 20px;
    color: #7d7d7d;
    font-weight: 700;
    font-size: 14px;
}

.breadcrumb>li {
    display: inline-block;
}

ol.breadcrumb {
    padding: 0;
    margin: 0;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
/*-----------------------------------END GLOBAL&THEME STYLES-----------------------------------*/
/*-----------------------------------FLEXBOX STYLES-----------------------------------*/
.flex-container {
    display: flex;
}

.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.align-stretch {
    align-items: stretch;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-space-between {
    justify-content: space-between;
}repeat
.direction-row {
    flex-direction: row;
}
.direction-column {
    flex-direction: column;
}
.flex-item {
}
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}
.text-justify {
    text-align: justify;
}
.text-right {
    text-align: right;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-2 {
    flex-grow: 2;
}
.flex-grow-3 {
    flex-grow: 3;
}

.flex-wrap {
    flex-wrap: wrap;
}
/*-----------------------------------END FLEXBOX STYLES-----------------------------------*/
/*-----------------------------------GENERAL STYLES-----------------------------------*/
/*  COLORS  */
.color-red {
    color: #e9212d;
}
.color-gray, .color-gray a {
    color: gray;
}
/*  OPACITY  */
.opacity-4 {
    opacity: .4;
}
.opacity-6 {
    opacity: .6;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.absolute-top {
    position: absolute;
    top:0;
}
.p-8 {
    padding: 8px;
}
.p-30 {
    padding: 30px;
}
.p-60 {
    padding: 60px;
}
.pl-60 {
    padding-left: 60px;
}
.m-20 {
    margin: 20px;
}
.mb-100 {
    margin-bottom: 100px;
}
.button {
    margin-top:  15px;
    background: #e9212d;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    border: 0px;
    border-radius: 2px; 
}
.w-100 {
    width: 100%;
}
.wpx-450 {
    width: 450px;
}
.h-150 {
    height: 150px !important;
}
.list-style-none, .list-style-none ul {
   list-style-type: none;
}
.line-height-2 {
    line-height: 2;
}
.line-height-3 {
    line-height: 3;
}
/*-----------------------------------END GENERAL STYLES-----------------------------------*/
/*-----------------------------------DEV STYLES-----------------------------------*/
.dev-br {
    border: 1px solid red;
}
.dev-bb {
    border: 1px solid blue;
}
.dev-bk-red {
    background: red;
}
.a-expand {
    display: flex;
    height: 100%;
    width: 100%;
}
/*-----------------------------------END DEV STYLES-----------------------------------*/
/*-----------------------------------HEADER STYLES-----------------------------------*/
.header {
    background: #f8f8f8;
    text-transform: uppercase;
}
.header #menu div:nth-child(3) a{
    border-left: 1px solid #102638;
}
.header a, .header p, .header span {
    color: #102638;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}
.header, footer, article, nav, aside {
    padding: 1em;
}

header a.selected {
    color: #e9212d;
}

header a:hover{
    text-decoration: underline;
}

.header-phone {
    color: #102638;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-left: 0px !important;
}
.header-phone a {
    padding-right: 0px !important;
}
.header-phone span {
    padding-left: 5px !important;
}
/*-----------------------------------END HEADER STYLES-----------------------------------*/
/*-----------------------------------FOOTER STYLES-----------------------------------*/
footer {
    background: #102638;
    height: 539px;
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
}
footer ul {
    list-style-type: none !important;
    padding-left: 0;
}
footer li {
    margin: 0px 0 12px 0;
    color: #4d687f;
}
footer div  {
    width: 100%;
}
.footer-logo {
    padding-top: 30px;
    padding-left: 10px;
    width: 300px;
}
.footer-raise-your-voice {
    width: 285px;
}
.footer-raise-your-voice img {
    height: 70px;
}
/*-----------------------------------END FOOTER STYLES-----------------------------------*/
/*-----------------------------------INDEX.HTML STYLES-----------------------------------*/
.navigation-menu {
    height: 100%;
    max-height: 850px;
    overflow: hidden;
}

.i-want-start-my-business {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-negocio.jpg" );
    flex: 0 0 25vw;
}
.i-am-fryer {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-freidor.jpg" );
    flex: 0 0 25vw;
}
.i-am-wholesaler {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-mayorista.jpg" );
    flex: 0 0 25vw;
    background-size: 100% 100%;
}
.i-am-manufacturer {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-industrial.jpg" );
    flex: 0 0 25vw;
}
.index-menu-option-title div { 
    margin-bottom: 10px;
}

.index-menu-option-title img { 
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
}

.index-menu-option-title span {
    background: #e9212d;
    padding: 3px 5px;
    opacity: .9;
    font-weight: 700;
    font-size: 21px;
    font-family: PTBoldItalic;
}

.index-menu-option-title a{
    width: 100%;
    height: 100%;
}

.index-menu-option-title a:hover {
    z-index: 2;
    background: #e9212d8a;
    transition: all .3s;
 }

 .index-menu-option-title a:hover > span {
    background: transparent !important;
    transition: all .3s;
}

.index-menu-option-title a:hover > div img{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.our-company-container {
    background-image: linear-gradient(#00000026, #00000026),url("../images/mb-home.jpg");
    padding: 70px 0;
    min-height: 600px;
    border-top: 1px solid white;
    background-size: 100%;
}

.our-company-item {
    padding: 20px;
    line-height: 30px;
}
.our-company-title {
    text-align: center;
    font-family: PTItalic;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
}
.our-company-text {
    text-align: justify;
    max-width: 670px;
}
/*-----------------------------------END INDEX.HTML STYLES-----------------------------------*/
/*-----------------------------------RECETARIO.HTML STYLES-----------------------------------*/
.recipe-book-title {
    width: 550px;
    color: #102638;
    text-align: center;
    font-size: 24px;
    font-family: PTItalic;
    margin-bottom: 40px;
    line-height: 160%;
}
.recipe-book-title i {
    color: #102638;
}
.recipe-book-column {
    padding: 18px;
}
.recipe-book-field {
    height: 672px;
}
.recipe-book-field-tiny {
    height: 400px;
}
.recipe-book-item-image , .recipe-book-item-image-tiny {
    width: 100%;
    height: 100%;
    max-height: 480px;
    max-width: 450px;
    border-bottom: 10px solid #e9212d;
    border-radius: 3px;
}
.recipe-book-item-image-tiny {
    max-height: 240px;
}
.recipe-book-baja-california {
    background-image: url("../images/recetario/baja-california/thumb.png" );
}
.recipe-book-sinaloense {
    background-image: url("../images/recetario/sinaloense/thumb.png" );
}
.recipe-book-chiapaneco {
    background-image: url("../images/recetario/chiapaneco/thumb.png" );
}
.recipe-book-yucateco {
    background-image: url("../images/recetario/yucateco/thumb.png" );
}
.recipe-book-tabasqueno {
    background-image: url("../images/recetario/tabasqueno/thumb.png" );
}
.recipe-book-norteno {
    background-image: url("../images/recetario/norteno/thumb.png" );
}
.recipe-book-veracruzano {
    background-image: url("../images/recetario/veracruzano/thumb.png" );
}
.recipe-book-image {
    height: 800px;
    width: 100%;
}
.recipe-book-detail-chiapaneco {
    background-image: url("../images/recetario/chiapaneco/1.jpg" );
}
.recipe-book-detail-sinaloense {
    background-image: url("../images/recetario/sinaloense/1.jpg" );
}
.recipe-book-detail-yucateco {
    background-image: url("../images/recetario/yucateco/1.jpg" );
}
.recipe-book-detail-baja-california {
    background-image: url("../images/recetario/baja-california/1.jpg" );
}
.recipe-book-detail-tabasqueno {
    background-image: url("../images/recetario/tabasqueno/1.jpg" );
}
.recipe-book-detail-norteno {
    background-image: url("../images/recetario/norteno/1.jpg" );
}
.recipe-book-detail-veracruzano {
    background-image: url("../images/recetario/veracruzano/1.jpg" );
}
/*-----------------------------------END RECETARIO.HTML STYLES-----------------------------------*/
/*-----------------------------------PRODUCT CATALOG.HTML STYLES-----------------------------------*/
.product-catalog {
    border-top: 10px solid #e5e5e5;
}

.product-catalog .navigation-menu {
    min-height: 842.750px;
}
.effect-test:hover {
    background-size: 540px;
    transition: 2s;
}
.product-catalog h1 {
    padding: 20px 0;
    text-align: center;
}

.product-catalog .main-option-title {
    position: relative;
    overflow: hidden;
}

.product-catalog .main-option-title figure {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.product-catalog .main-option-title:hover figure { 
    transform: scale(1.1);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


.product-catalog .main-option-title img{
    width: 100%;
    height: 100%;
}

.product-catalog .main-option-title span{
    position: absolute;
    color: #fff;
    padding: 2px 30px;
}

.wheat-line:hover {
    background: linear-gradient(rgba(206,33,58, .68),rgba(206,33,58,.68));
}

.potato-line:hover {
    background: linear-gradient(rgba(38,63,84, .68), rgba(38,63,84, .68));
}

.corn-line:hover {
    background: linear-gradient(rgba(82,135,70, .68), rgba(82,135,70, .68));
}

.suncereal:hover {
    background: linear-gradient(rgba(62,64,64, .68), rgba(62,64,64, .68));
    /*-webkit-transition: all .3s;
    opacity: 1;
    transform: scale(1.1);
    width: 100%;
    overflow: hidden;*/
}
/*-----------------------------------END CATALOG.HTML STYLES-----------------------------------*/
/*-----------------------------------CONTACTO.HTML STYLES-----------------------------------*/
.contact-title {
    height: 300px;
    background-image: url("../images/banner-bolsa-trabajo-md2.jpg");
    width: 100%;
    line-height: 0px;
}
.contact-item, .contact-item ul > li, .contact-item ul {
    font-size: 14px;
    font-weight: 700;
    color: #5c5c5c;
    list-style-type: none;
    width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-element {
    padding: 10px;
    width: 100%;
}
.form-element input {
    background-color: #f0f0f0;
    height: 60;
    border-radius: 2px;
    border: 0px;
}
.contact-vta-item {
    width: 390px;
}
.contact-vta-item ul {
   list-style-type: none;
}
/*-----------------------------------END CONTACTO.HTML STYLES-----------------------------------*/
/*-----------------------------------PRODUCTS CATEGORY.HTML STYLES-----------------------------------*/
.products-catalog header {
    position: absolute;
    width: 100%;
    background: #ffffffbd;
}
#banner-products-category {
    position: relative;
    z-index: -1;
}

#banner-products-category span{
    position: absolute;
    bottom: 140px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: normal;
}

#banner-products-category.banner-wheat-line {
    background-image: url("../images/productos/596f66a_ffd.jpg" );
    height: 380px;
}

.product {
    margin-bottom: 50px;
    width:25%;
    padding: 15px;
}

.product a {
    display: block;
    outline: 0;
}

.product figure {
    border-bottom: 10px solid #284054;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.product figure img{
    width: 100%;
}

.product a:hover figure .hov {
    opacity: 1;
    -webkit-transform: scale(1) rotate(180deg);
    -moz-transform: scale(1) rotate(180deg);
    -o-transform: scale(1) rotate(180deg);
    transform: scale(1) rotate(180deg);
}

.product  a figure .hov {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
}

.product a:hover figure:before {
    opacity: .68;
}

.product a figure:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #102638;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.product a h2 {
    font-size: 18px;
    color: #102638;
    font-family: PTItalic;
    margin: 0;
    padding: 20px 0 7px;
}

.product a p {
    color: #102638;
    line-height: 150%;
    margin: 0;
    font-size: 14px;
}

#products-listing {
    padding-top: 50px;
}

.new-products-catalog-bcategory
{
    background: #f0f0f0;
    padding: 50px 0 0;
}

.new-products-catalog-bcategory .title {
    margin-bottom: 50px;
    text-align: center;
    font-family: PTBoldItalic;
}

.new-products-catalog-bcategory .title i{
    color: #e9212d;
    font-size: 24px;
}
/*-----------------------------------END PRODUCTS CATEGORY.HTML STYLES-----------------------------------*/
/*-----------------------------------JOB.HTML STYLES-----------------------------------*/
.job-background {
    height: 600px;
border: 1px solid red;
    background-image: url("../images/persona-bolsa-trabajo.png");
    width: 200px;
    line-height: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}
/*-----------------------------------END JOB.HTML STYLES-----------------------------------*/
