/*-----------------------------------GLOBAL&THEME STYLES-----------------------------------*/
@import url(fonts.css?family=Noto+Sans:400,700,400italic);
* {
    box-sizing: border-box;
    color: white;
    text-decoration: none; 
}
html {
    font-family: 'Noto Sans',sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background: #f8f8f8;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #102638; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.item-title-red, .item-title-red i {
    color: #e9212d;
    font-size: 18px;
    font-family: PTBoldItalic;
}
.item-content, .item-content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #102638;
}

.container {
    width: 1170px;
    margin: auto;
}
.main-width {
    width: 1170px;
    margin: auto;
}
/*-----------------------------------END GLOBAL&THEME STYLES-----------------------------------*/
/*-----------------------------------FLEXBOX STYLES-----------------------------------*/
.flex-container {
    display: flex;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.align-stretch {
    align-items: stretch;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-space-between {
    justify-content: space-between;
}
.direction-row {
    flex-direction: row;
}
.direction-column {
    flex-direction: column;
}
.flex-item {
}
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}
.text-justify {
    text-align: justify;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-2 {
    flex-grow: 2;
}
.flex-grow-3 {
    flex-grow: 3;
}
/*-----------------------------------END FLEXBOX STYLES-----------------------------------*/
/*-----------------------------------GENERAL STYLES-----------------------------------*/
/*  COLORS  */
.color-red {
    color: #e9212d;
}
/*  OPACITY  */
.opacity-4 {
    opacity: .4;
}
.opacity-6 {
    opacity: .6;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
/*-----------------------------------END GENERAL STYLES-----------------------------------*/
/*-----------------------------------DEV STYLES-----------------------------------*/
.dev-br {
    border: 1px solid red;
}
.dev-bb {
    border: 1px solid blue;
}
.dev-bk-red {
    background: red;
}
.a-expand {
    display: flex;
    height: 100%;
    width: 100%;
}
/*-----------------------------------END DEV STYLES-----------------------------------*/
/*-----------------------------------HEADER STYLES-----------------------------------*/
.header {
    background: #f8f8f8;
    text-transform: uppercase;
}
.header #menu div:nth-child(3) a{
    border-left: 1px solid #102638;
}
.header a, .header p, .header span {
    color: #102638;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}
.header, footer, article, nav, aside {
    padding: 1em;
}
.header-phone {
    color: #102638;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-left: 0px !important;
}
.header-phone a {
    padding-right: 0px !important;
}
.header-phone span {
    padding-left: 5px !important;
}
/*-----------------------------------END HEADER STYLES-----------------------------------*/
/*-----------------------------------FOOTER STYLES-----------------------------------*/
footer {
    background: #102638;
    height: 539px;
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
}
footer ul {
    list-style-type: none !important;
    padding-left: 0;
}
footer li {
    margin: 0px 0 12px 0;
    color: #4d687f;
}
footer div  {
    width: 100%;
}
.footer-logo {
    padding-top: 30px;
    padding-left: 10px;
    width: 300px;
}
.footer-raise-your-voice {
    width: 285px;
}
.footer-raise-your-voice img {
    height: 70px;
}
/*-----------------------------------END FOOTER STYLES-----------------------------------*/
/*-----------------------------------INDEX.HTML STYLES-----------------------------------*/
.navigation-menu {
    height: 100%;
    max-height: 850px;
    overflow: hidden;
}

.i-want-start-my-business {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-negocio.jpg" );
    flex: 0 0 25vw;
}
.i-am-fryer {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-freidor.jpg" );
    flex: 0 0 25vw;
}
.i-am-wholesaler {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-mayorista.jpg" );
    flex: 0 0 25vw;
    background-size: 100% 100%;
}
.i-am-manufacturer {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-industrial.jpg" );
    flex: 0 0 25vw;
}
.index-menu-option-title div { 
    margin-bottom: 10px;
}

.index-menu-option-title img { 
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
}

.index-menu-option-title span {
    background: #e9212d;
    padding: 3px 5px;
    opacity: .9;
    font-weight: 700;
    font-size: 21px;
    font-family: PTBoldItalic;
}

.index-menu-option-title a{
    width: 100%;
    height: 100%;
}

.index-menu-option-title a:hover {
    z-index: 2;
    background: #e9212d8a;
    transition: all .3s;
 }

 .index-menu-option-title a:hover > span {
    background: transparent !important;
    transition: all .3s;
}

.index-menu-option-title a:hover > div img{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.our-company-container {
    background-image: linear-gradient(#00000026, #00000026),url("../images/mb-home.jpg");
    padding: 70px 0;
    min-height: 600px;
    border-top: 1px solid white;
    background-size: 100%;
}

.our-company-item {
    padding: 20px;
    line-height: 30px;
}
.our-company-title {
    text-align: center;
    font-family: PTItalic;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
}
.our-company-text {
    text-align: justify;
    max-width: 670px;
}
/*-----------------------------------END INDEX.HTML STYLES-----------------------------------*/
/*-----------------------------------RECETARIO.HTML STYLES-----------------------------------*/
.recipe-book-title {
    width: 550px;
    color: #102638;
    text-align: center;
    font-size: 24px;
    font-family: PTItalic;
    margin-bottom: 40px;
    line-height: 160%;
}
.recipe-book-title i {
    color: #102638;
}
.recipe-book-column {
    padding: 18px;
}
.recipe-book-field {
    height: 672px;
}
.recipe-book-field-tiny {
    height: 400px;
}
.recipe-book-item-image , .recipe-book-item-image-tiny {
    width: 100%;
    height: 100%;
    max-height: 480px;
    max-width: 450px;
    border-bottom: 10px solid #e9212d;
    border-radius: 3px;
}
.recipe-book-item-image-tiny {
    max-height: 240px;
}
.recipe-book-baja-california {
    background-image: url("../images/recetario/baja-california/thumb.png" );
}
.recipe-book-sinaloense {
    background-image: url("../images/recetario/sinaloense/thumb.png" );
}
.recipe-book-chiapaneco {
    background-image: url("../images/recetario/chiapaneco/thumb.png" );
}
.recipe-book-yucateco {
    background-image: url("../images/recetario/yucateco/thumb.png" );
}
.recipe-book-tabasqueno {
    background-image: url("../images/recetario/tabasqueno/thumb.png" );
}
.recipe-book-norteno {
    background-image: url("../images/recetario/norteno/thumb.png" );
}
.recipe-book-veracruzano {
    background-image: url("../images/recetario/veracruzano/thumb.png" );
}
/*-----------------------------------END RECETARIO.HTML STYLES-----------------------------------*/
