/*-----------------------------------GLOBAL STYLES-----------------------------------*/
@import url(fonts.css?family=Noto+Sans:400,700,400italic);
* {
    box-sizing: border-box;
    color: white;
    text-decoration: none; 
}
html {
    font-family: 'Noto Sans',sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #102638; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*-----------------------------------GLOBAL STYLES-----------------------------------*/
/*-----------------------------------HEADER STYLES-----------------------------------*/
.header {
    background: #f8f8f8;
    text-transform: uppercase;
}

.header #menu div:nth-child(3) a{
    border-left: 1px solid #102638;
}

.header a, .header p, .header span {
    color: #102638;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}
.header, footer, article, nav, aside {
    padding: 1em;
}
.header-phone {
    color: #102638;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-left: 0px !important;
}
.header-phone a {
    padding-right: 0px !important;
}
.header-phone span {
    padding-left: 5px !important;
}
/*-----------------------------------END HEADER STYLES-----------------------------------*/
/*-----------------------------------FOOTER STYLES-----------------------------------*/
footer {
    background: #102638;
    height: 539px;
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
}
footer ul {
    list-style-type: none !important;
    padding-left: 0;
}
footer li {
    margin: 0px 0 12px 0;
    color: #4d687f;
}
footer div  {
    width: 100%;
}
.footer-logo {
    padding-top: 30px;
    padding-left: 10px;
    width: 300px;
}
.footer-raise-your-voice {
    width: 285px;
}
.footer-raise-your-voice img {
    height: 70px;
}
/*-----------------------------------END FOOTER STYLES-----------------------------------*/
/*-----------------------------------FLEXBOX STYLES-----------------------------------*/
.flex-container {
    display: flex;
}
.align-center {
    align-items: center;
}

.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-space-between {
    justify-content: space-between;
}
.direction-row {
    flex-direction: row;
}
.direction-column {
    flex-direction: column;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}
.text-justify {
    text-align: justify;
}

.text-right  {
    text-align: right;
}

/*  colors  */
.color-red {
    color: #e9212d;
}
.opacity-4 {
    opacity: .4;
}
.opacity-6 {
    opacity: .6;
}
/*-----------------------------------END FLEXBOX STYLES-----------------------------------*/
/*-----------------------------------INDEX.HTML STYLES-----------------------------------*/
.navigation-menu {
    height: 100%;
    max-height: 850px;
    overflow: hidden;
}

.i-want-start-my-business {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-negocio.jpg" );
    flex: 0 0 25vw;
}
.i-am-fryer {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-freidor.jpg" );
    flex: 0 0 25vw;
}
.i-am-wholesaler {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-mayorista.jpg" );
    flex: 0 0 25vw;
    background-size: 100% 100%;
}
.i-am-manufacturer {
    background-image: linear-gradient(#00000003, #00000003),url("../images/pic-btn-industrial.jpg" );
    flex: 0 0 25vw;
}

.index-menu-option-title div { 
    margin-bottom: 10px;
}

.index-menu-option-title img { 
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
}

.index-menu-option-title span {
    background: #e9212d;
    padding: 3px 5px;
    opacity: .9;
    font-weight: 700;
    font-size: 21px;
    font-family: PTBoldItalic;
}

.index-menu-option-title a{
    width: 100%;
    height: 100%;
}

.index-menu-option-title a:hover {
    z-index: 2;
    background: #e9212d8a;
    transition: all .3s;
 }

 .index-menu-option-title a:hover > span {
    background: transparent !important;
    transition: all .3s;
}

.index-menu-option-title a:hover > div img{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.our-company-container {
    background-image: linear-gradient(#00000026, #00000026),url("../images/mb-home.jpg");
    padding: 70px 0;
    min-height: 600px;
    border-top: 1px solid white;
    background-size: 100%;
}
/*.our-company div {
    border: 1px solid red;
}*/
#our-company {
    max-width: 670px;
}

#vision-company {
    max-width: 525px;
}

#mission-company {
    max-width: 525px;
}

.our-company-item {
    padding: 20px;
    line-height: 30px;
}
.our-company-title {
    text-align: center;
    font-family: PTItalic;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
}
.our-company-text {
    //max-width: 600px;
    text-align: justify;
}
/*-----------------------------------END INDEX.HTML STYLES-----------------------------------*/
