* {
    box-sizing: border-box; 
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
header {
    background: #f8f8f8;
    height: 146px;
}
footer {
    background: #102638;
    height: 539px;
}
header, footer, article, nav, aside {
    padding: 1em;
}
/* index.html css for menu navigation */
.index-nav-menu-categories {
    display: flex;
    flex: 1;
}
.index-nav-menu-categories > article {
    flex: 1;
    order: 1;
}
.index-nav-menu-categories > div, 
.index-nav-menu-categories > aside {
    flex: 0 0 25vw;
}
.index-nav-menu-categories > div {
    order: 3;
}
.index-nav-menu-categories > aside {
    background: beige;
    order: 2;
}
.i-want-start-my-business {
    background: red;
    background-image: url("../images/pic-btn-negocio.jpg" );
    background-size: cover;
    background-repeat: no-repeat;

}